<h1>New Goods Item</h1>

<form action="/goods" method="POST">
  <div>
    <label>
      Name:
      <input type="text" name="name" />
    </label>
  </div>

  <div>
    <label>
      Price:
      <input type="number" name="price" />
    </label>
  </div>

  <div>
    <label>
      Description:
      <textarea name="description"></textarea>
    </label>
  </div>

  <input type="submit" value="Create" />
</form>
